
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  --mainColor :#08c7fb;
  --mainTextColor:#1f2021;
  --secondertTextColor:#7e7a7a;
  --transparentBackground:#1fabd256;
}

.contanier{
    margin: auto ;
    padding: 20px;
    position: relative;
    box-sizing: border-box;
  }

.small-img{
  width: 50px;
  height: 50px;  }

  .medium-img{
    width: 100%;
    height: 500px;
  }

  .section-head{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .section-head .title {
    text-transform: uppercase;
    color: var(--mainTextColor,black);
    position: relative;
  }
  
  .section-head .title::before {
    content: "";
    width: 80%;
    height: 3px;
    background-color: rgb(44, 43, 43);
    position: absolute;
    bottom: -20px;
    left: 10%;
    
  }
  
  .section-head .title::after {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: -25px;
    left: calc(50% - 10px);
    border-radius: 50%;
    border: 2px solid rgb(44, 43, 43);
    background-color: white;
  
  }

  .main-btn{
    background-color: var(--mainColor);
    color: white;
    padding:10px 20px;
    font-size: 16px;
    border: none;
    text-transform: capitalize;
  }
  
  .section-head h4 {
    color: var(--secondertTextColor,#Eeee)
  }
  


/* Responsive design */

  /* Mobile */
  @media (max-width:576px) {
    .contanier{
        max-width: 540px;
    }

}
/* Small Screens */

@media (min-width:578px)  and (max-width: 768px) {
  .contanier{
      max-width: 	720px;
  }

}

/* Medium Screens */
@media (min-width: 769px) and (max-width:1990px){
  .contanier{
      max-width: 960px;    
    }
}

/* Large Screens */
@media (min-width: 1200px) {
  .contanier{
      max-width: 1140px;
  }
}

/* End Responsive design */



/* Header style */
header{
  position: absolute;
  width: 100%;
  z-index: 2;
}
header .contanier{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    
}

header .contanier::before{
  content: "";
  position: absolute;
  width: calc(100% - 40px);
  height: 3px;
  color: white;
  background-color: rgba(255, 255, 255, 0.473);
  bottom: 13px;
  right: 18px;
}


header .logo img {
    height: 65px;
}
header .links a{
    margin-right: 20px;
    padding-bottom: 25px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    width: 100%;
    
}

 header .links a:hover{
 border-bottom: 3px solid var(--mainColor);
 color: var(--mainColor);
}

@media (min-width:869px) {
  header .contanier .toggle-menu{
    display: none;
  }

}

@media (max-width:868px) {
  header .contanier .toggle-menu{
    display: block;

  }
  header .contanier .links{
    display: none;
  }
}

header .contanier .toggle-menu:hover  ~ .links {
  display:flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.788);
  padding: 10px;
}

/* End of header */

/* Start landing */

.landing{
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url(/images/blackbackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}



.landing .text-content{
  position: absolute;
  top: 50%;
  color: white;
  padding: 10px;
  transform: translateY(-50%);
  background-color: #1fabd267;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-radius: 1%;
  max-height: 70%;
}

@media (max-width: 767px) {
  .landing .text-content{
    width: calc(100% - 20px);
    padding: 10px;
    align-items: center;
  }

  .landing .arrow {
    display: none;
  }

}

.landing .text-content p {
 width: 50%;
  line-height: 2;
  overflow: hidden;
}

.landing .text-content h1 {
  width: 50%;
  line-height: 2;
}

.landing .arrow {
  position: absolute;
  top: 50%;
  color: rgb(255, 255, 255);
  font-size: 25px;
}

.landing .right-arrow{
  right: 30px;
}

.landing .left-arrow{  
  left: 30px;
}

.bullets{
  list-style: none;
  display: flex;
}
.bullets li {
  border: 2px solid gray ;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
  
}

 .bullets .active-bullet {
  background-color: var(--mainColor);
  border-color: var(--mainColor);
}

 .landing .bullets {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-70%);  
  
}



/* end landing */

/* Start services section */

.section-head{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-head .title {
  text-transform: uppercase;
  color: var(--mainTextColor,black);
  position: relative;
}

.section-head .title::before {
  content: "";
  width: 80%;
  height: 3px;
  background-color: rgb(44, 43, 43);
  position: absolute;
  bottom: -20px;
  left: 10%;
  
}

.section-head .title::after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: -25px;
  left: calc(50% - 10px);
  border-radius: 50%;
  border: 2px solid rgb(44, 43, 43);
  background-color: white;

}

.section-head h4 {
  color: var(--secondertTextColor,#Eeee)
}


.services-section .section-content{
  display: grid;
  grid-template-columns: repeat(12,1fr);
  column-gap: 30px;
  row-gap: 30px;
  padding: 20px;
}



.section-content img {
  width: 100%;
  display: flex;
  justify-content: center;
  grid-column: 2 span;
}

@media (max-width:787px) {
  .services-section .section-content{
    grid-template-columns:1fr;
  }
  .section-content .text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }

  .section-content img {
   margin: 10px 20px auto;
  }


}

.section-content .text-content {
  display: flex;
  flex-direction: column;
  grid-column: 4 span;
  line-height: 2;

}

.section-content .text-content h3{
  margin: 0;
  color: var(--mainColor);
}

.section-content .text-content p{
  color: var(--secondertTextColor);

}


.services-quality{
  background-image: url(/images/blackbackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 500px;
  background-color: aqua;
} 

.services-quality .description{
  position: absolute;
  top: 50%;
  transform: translateY(-50%); 
  left: 50%;
  color: white;
  padding: 10px;  
  width: calc(50% - 40px);
  background-color: var(--transparentBackground);
  text-transform: capitalize;
  display: flex;
  flex-direction: column;

}

@media (max-width:767px) {
  .services-quality .description{
    top: 0;
    left: 0;
    transform: unset;
    height: calc(100% - 20px);
    color: white;
    padding: 10px;  
    width: calc(100% - 20px);
    background-color: var(--transparentBackground);
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
  
  }
  .phones-img{
    display: none;
  }
}

.services-quality .description .contant{
  padding: 10px;  
  color: white;
  display: flex;
}
.services-quality .description img{
  margin-right: 20px;
}

.phones-img {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}


/* End services section */


/* Start portfolio */


.portfolio .contanier .projects-filter ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
  padding:0;
}


.portfolio .contanier .projects-filter ul li {
  padding: 10px;
  font-size: 20px;
}
@media (max-width:676px) {
  .portfolio .contanier .projects-filter ul {
    justify-content: space-between;
  }
  
}
.portfolio .contanier .projects-filter ul .selected {
  background-color: var(--mainColor);
  color: white;
}

.portfolio .gallary{
  display: flex;
  padding: 5px;
  flex-wrap: wrap;
  width: calc(100% - 10px);

}
.portfolio .gallary .card {
  position: relative;
  overflow: hidden;
  transition: .5s;
  width: calc(25% - 20px);
  margin: 10px; 

}

@media (max-width:576px) {
  .portfolio .gallary .card {
    width: calc(100% - 20px);
  
  }
}
/* Small Screens */

@media (min-width:578px)  and (max-width: 768px) {
  .portfolio .gallary .card {
    width: calc(50% - 20px);
  
  }

}

/* Medium Screens */
@media (min-width: 769px) and (max-width:1990px){
  .portfolio .gallary .card {
    width: calc(25% - 20px);
  
  }
}

.portfolio .gallary .card .desc{
  position: absolute;
  bottom: -100%;
  background-color: rgba(255, 255, 255, 0.767);
  padding: 5px;
}

.portfolio .gallary .card:hover > .desc {
  bottom: 0;
}

.center-with-padding{
  display: block;
  text-align: center;
  padding: 10px;

}

.portfolio button {
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
  color: white;
  border-style: none;
  margin: 20px auto;
}

.portfolio .show-video-section {
  background-image: url(../images/blackbackground.jpg);
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio .show-video-section .content{
  height: fit-content;
  background-color: var(--transparentBackground);
  padding: 20px;
  color: white;
  width: 100%;
  
}

.portfolio .show-video-section .content h1{
  text-transform: capitalize;

}

.blue-btn{
  background-color: var(--mainColor);
}
.black-btn{
  background-color: black;
}

/* end portfolio */

/* start about  */

.about-us{
  overflow: hidden;
}

.about-us .contanier img{
  position: relative;
  top: 180px;
  margin-top: -180px;
}

@media (max-width:767px) {
  .about-us .contanier img{
    top: 230px;
    margin-top: -330px;
  }
}

/* end about */

/* start stat */

.stat{
  background-image:url(../images/blackbackground.jpg);
  color: white;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stat .content{
  background-color: var(--transparentBackground);
  width: 70%;
  padding: 10px;
  display: flex;
  justify-content: center;
  height: fit-content;
 
}




.stat .content .badg{
  margin:20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width:767px) {
  .stat .content{
    flex-direction: column;
    width: calc(100% - 20px);

  }
  .stat .content .badg{
    margin:0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .stat .content .badg div{
    margin-right: 10px;
  }
  .stat .content .badg h1 {
    margin-right: 10px; 
  }
  .stat .content .badg p{
    margin-right: 10px;
  }
}


.stat .content .badg div{
  width: 30px;
  height: 30px;
  background-color: rgb(17, 14, 14);
  border-radius: 50%;
}

/* end stat */

/* start our power */



.our-power .contanier{
  display: flex;
  justify-content: space-between;
  
}

.our-power .content{
  margin-top: 60px;
  margin-bottom: 30px;
  
}

.our-power .contanier .our-skills{
  width:calc(50% - 60px);
}

.our-power .contanier .our-reviews{ 
  width:calc(50% - 60px);
  position: relative;

}

@media (max-width:767px) {
  .our-power .contanier{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
  }
  
  .our-power .contanier .our-skills{
    width:100%;
    margin-top: 50px;
  }
  
  .our-power .contanier .our-reviews{ 
    width:100%;
    
  }
}


.our-power .head {
    text-align: center;
}
.our-power .head h1{
  text-transform: uppercase;
  font-size: 25px;
}
.our-power .head p{
  color: var(--secondertTextColor);
}

.our-power .bullets{
  
  position: absolute;
  left: 50%; 
  transform: translateX(-50%);
  bottom: 0;
}

.our-power .our-reviews .text-content{
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(173, 170, 170, 0.933);
  margin-left: 60px;
  margin-bottom: 20px;

}
.our-power .our-reviews .text-content .reviewer-name{ 
  align-self: flex-end;
  color: var(--secondertTextColor);
}

.reviewer-img {
  height: 100px;
  border-radius: 50%;
}
.our-power .our-reviews .review-box{
  display: flex;
      line-height: 1.5;

}

.our-power .our-reviews .text-content .reviewer-name {
  margin: 16px;
  align-self: flex-end;
  color: var(--secondertTextColor);
}

.our-skills .content .skill-box{
  padding: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}

.our-skills .content .skill-box .skill-rate{
 margin-top: 10px;
 width: 100%;
 height: 30px;
 position: relative;
 background-color: #eee;
}
.rate{
  display: block;
  height: 100%;
  background-color: var(--mainColor);
  position: relative;
}

.rate::after{
  content: attr(data-persent);
  background-color: black;
  color: white;
  padding: 5px;
  font-weight: bold;
  position:absolute;
  top: calc(-100% - 10px);
  right: -20px;
}


.our-skills .arrow::before{
  content: "";
  border-bottom: 10px solid transparent;
  border-top: 10px solid black;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  top: -10px;
  right: -10px;
}



/* end our power */


/* start pricing */

.pricing .content{
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

.pricing .plan-box{
  width: calc(25% - 30px);
  background-color: rgba(238, 238, 238, 0.288);
  border-radius: 5%;
}

@media (max-width:767px) {
  .pricing .plan-box {
    width: calc(100% - 10px);
    margin-bottom: 50px;
  }
}

.pricing .plan-box .price{
  border-top: 1px solid var(--mainColor);
  border-bottom: 1px solid var(--mainColor);
}

.price > p{
  text-transform: uppercase;
  margin-bottom: 0;
}

.price > h1{
  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

.plan-box > p {
  margin:20px auto;
  width: max-content;
  padding: 10px;
  border-bottom: 1px solid var(--mainColor);

}

.plan-box > p:last-of-type{
  width: calc(100% - 20px);
  border-bottom: 1px solid var(--mainColor);
  text-align: center;
}

.plan-box > button {
  text-transform: capitalize;
  padding: 10px 20px ;
  border: 1px solid var(--mainColor);
  border-radius: 5%;
  background-color: white;

}
/* end pricing */

/* start subscribe */

.subscribe{
  margin-top: 30px;
  width: 100%;
  height: 200px;
  background-image: url(../images/blackbackground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
 
}

.subscribe .contanier{
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.subscribe form {
  position: relative;
  height: max-content;
  margin-right: 10px;
  width: 500px;
  max-width: 100%;
  display: flex;
  }
 
  
.subscribe input:first-of-type{
  box-sizing: border-box;
  padding: 20px 20px 20px 40px;
  background-color: transparent;
  color: white;
  outline: none;
  border: 1px solid white;
  border-right: none;
  width: calc(100% - 120px);
  font-size: 20px;
}
.subscribe form::placeholder{
  color: white;
}

.subscribe input:last-of-type{
  box-sizing: border-box;
  border: 1px solid white;
  border-left: none;
  outline: none;
  background-color: var(--mainColor);
  color: white;
  text-transform: capitalize;
  width: 120px;
  font-size: 20px;

  
}

.subscribe .contanier i {
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

/* end subscribe */

/* contact us */

.content-holder {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

}




.content-holder form {
  grid-area: form;
  display: flex;
  flex-direction: column;
  width: 60%;
}




.input-shape{
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  outline: none;
  width: calc(100% - 20px);
}



.content-holder .send-btn{
  box-sizing: border-box;
  width: fit-content;
  align-self: flex-end;
  background-color: var(--mainColor);
  color: white;
  border: none;
  font-size: 20px;
  padding: 20px;

}

textarea{
  resize: none;
}





@media (max-width:767px) {

.content-holder {
  flex-direction: column-reverse;
}

  .content-holder form {
    width: calc(100% - 25px);
}
   .contact-info {
     width: 100%;
   }

   
}

.contact-info h3 {
  margin: 0;
  padding: 0;
}

.contact-info h3:last-of-type{
  margin-top: 50px;
}

footer .content{
  width: fit-content;
}

/* end contact us */


footer {
  background-image: url(/images/blackbackground.jpg);
}

footer .contanier{
  display: flex;
  justify-content: center;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

.social i {
  font-size: 20px;
  margin: 5px;
}

footer .content div:last-of-type {
  text-transform: capitalize;
  margin-top: 40px;
}

footer .content div:last-of-type span{
  color: var(--mainColor);
}